{% load dict_extras %}

{{ votes }} -- {{ comment.comment_text }} -- {{ comment.author.name }}
<form class="vote-form" action="{% url 'my_reddit:comment_vote' comment.id 'upvote' %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button">&#x25B2;</button>
</form>
<form class="vote-form downvote" action="{% url 'my_reddit:comment_vote' comment.id 'downvote' %}" method="post">
  {% csrf_token %}
  <button type="submit" name="button">&#x25B2;</button>
</form>

<a href="{% url 'my_reddit:comment' comment.id %}">Reply</a>

{% if comments|get_values:comment.id %}
  <ul class="main-list">
    {% for comment_dict in comments|get_values:comment.id %}
      <li class="main-list-item">{% include 'my_reddit/partials/comment.html' with comments=comments comment=comment_dict.comment votes=comment_dict.vote_count%}</li>
    {% endfor %}
  </ul>
{% endif %}
