
{% include 'my_reddit/partials/assets.html' %}
{% include 'my_reddit/partials/nav.html' %}
{% load dict_extras %}

<h2>{{ post.title }}</h2>

<p>
  {{ post.text }}
</p>

{% include 'my_reddit/partials/comment_form.html' with parent=True %}

<ul class="main-list comment-list">
  {% for comment_dict in comments|get_values:None %}
    <li class="main-list-item comment-item group">
      {% include 'my_reddit/partials/comment.html' with comments=comments comment=comment_dict.comment votes=comment_dict.vote_count %}
    </li>
  {% endfor %}
</ul>
